module github.com/e7canasta/orion-care-sensor/modules/{{MODULE_DIR}}

go 1.21

{{#if HAS_WORKSPACE_DEPS}}
require (
    {{WORKSPACE_DEP_1}} {{WORKSPACE_DEP_1_VERSION}}
    {{WORKSPACE_DEP_2}} {{WORKSPACE_DEP_2_VERSION}}
)
{{/if}}

{{#if HAS_EXTERNAL_DEPS}}
require (
    {{EXTERNAL_DEP_1}} {{EXTERNAL_DEP_1_VERSION}}
    {{EXTERNAL_DEP_2}} {{EXTERNAL_DEP_2_VERSION}}
)
{{/if}}
